#createEventForm {
    max-width: 400px;
    margin: auto auto;
}

#createEventForm h2 {
	text-align: center;
}

#eventMap {
	width: 90%;
	height: 200px;
	margin: auto auto;
}

.centerme {
	width: 80%;
	margin: auto auto;
}