
#loginForm {
    width: 300px;
    margin: auto auto;
}

#loginForm h2 {
    text-align: center;
}

#signupForm {
    width: 400px;
    margin: auto auto;
    padding-left: 45px;
    padding-right: 45px;
}

#signupForm h2 {
    text-align: center;
}


#login {
    color: white;
    background-color: #F97490;
}

#login:hover {
    background-color: #f73b64;
}

#reset {
    color: white;
    background-color: gray;
}

#reset:hover {
    background-color: #9E9E9E;
}

.form-btn-hover {
    cursor: pointer;
}