.profileBody {
    /*width:330px;*/
    width: 100%;
    max-width: 350px;
    margin: auto auto;
    color: black;
    font-size: 14px;
}

.profileImage {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 15px;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
}

.profileTop {
	display: grid;
    grid-template-columns: 110px auto;
    grid-gap: 3px;
    width: 90%;
    margin: auto auto;
}

.profileTopSection {
	padding-left: 10px;
	padding-right: 10px;
	line-height: normal;
}

.username {
	font-weight: bold;
	font-size: 22px;
}

.fullName {
	color:gray;
	font-size: 14px;
    margin-bottom: 10px;
}

.profileDetails {
    width: 90%;
    margin: auto auto;
}


/*========= profile button ===========*/
.profileTopSectionButtons {
    padding-top: 10px;
    margin: 0px 0px;
    position: relative;
}

.profileButton {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

#mainActionButton {

}

#secondaryActionButton {
    width: 128px; 
}

#toggleSecondaryActionButtons {
    padding: 5px 4px;
    /*font-size: 14px;*/
}

#dropdownContainer {
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 54px;
}
/*========= end of profile button ===========*/




.profileNumbers {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
	width: 80%;
	height: 60px;
	margin: auto auto;
}

.numberBox {
	padding: 6px;
	margin: auto auto;
    height: 60px;
    width: 60px;
    text-align: center;
    color: white;
    background-color: #a6a6a6;
    font-size: 13px;
    /*background-color: #53c653;*/
    /*border: solid #53c653 2px;*/
    border-radius: 8px;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
}

.numberBox:hover {
	background-color: #737373;
}

.number {
	font-size: 20px;
	font-weight: bold;
}

.upcomingEvents {
	text-align: center;
}

.upcomingEventsHeader {
	font-size: 20px;
	font-weight: bold;
}

#eventListBottom {
	margin-top: 15px;
}

